.header, .footer {
  text-align: center;
  background-color: #008000;
  color: white;
  padding: 20px;

}


.header p {
  font-style: italic;
  text-decoration: underline;
}

.footer {
 
  border-top: 2px solid #008000;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;

}

.footer li {
  display: inline;
  margin: 0 10px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration:underline;
}

.location {
  margin-top: 20px;
}

.location h2 {
  color: #008000;
}


.skills {
  margin-top: 20px;
}

.skills h2 {
  color: #008000;
}

.skills ul {
  list-style-type: square;
  padding-left: 20px;
}

