
body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #eedded;
  color: black;
  border: 1px dashed purple;
}

.app-container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
}


.header {

  color: purple;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-top: 30px;
 text-decoration: underline;
  font-weight: bold;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 1rem;
}

input, select {

  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(54, 9, 54);
  border-radius: 4px;
}

button, .category-filter {
  padding: 10px;
  margin: 10px;
  background-color: rgb(156, 41, 156);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(192, 147, 192);
}

.expense-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 6px;
  font-size: 0.95rem;
}

.food, .electricity, .rent, .others {
  background-color: #f0c9e6;
}
.electricity{
  background-color: #b3abb1;

}
.transport, .bills, .entertainment{
  background-color: #d2f5a8;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.warning {
  color: red;
  font-weight: bold;
}


.date-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}


.summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.summary-card {
  flex: 1 1 150px;
  padding: 1rem;
  border-radius: 8px;
  color: black;
  text-align: center;
}

.balance-display {
  color: purple;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid purple;
}

.delete{
  background-color: red;
}

@media (max-width: 600px) {
  .form,
  .category-filter,
  .stats,
  .date-filter,
  .expense-item {
    flex-direction: column;
    align-items: stretch;
  }

}
