

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: auto;
  height: 50vh;
  background-color:white;
  line-height: 1.5;
  font-weight: 400;
 
}

.container {
  display: flex;
  justify-content:space-between;

  align-items: center;
  height: 100vh;
  padding: 0 50px;

}