
.countdown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(245, 218, 245);
  border-radius: 8px;
  max-width: 500px;
  margin:0 100px;
   
}

.countdown-title {
  font-size:30px;
  margin-bottom: 12px;
}

.countdown-time {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.countdown-date {
  font-size: 14px;
  color: purple;
  text-decoration: underline;
}

.countdown-expired {
  color: red;
  font-weight: bold;
}

input, button {
  padding: 6px;
  margin-right: 10px;
  font-size: 14px;
}

button {
  background-color: #ff00aa;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #aa7598;
}
